

<div id="lista-cursos" class="course-container" *ngIf="cursos.length > 0">
    <div *ngFor="let curso of cursos; let i = index" class="curso-item">
      <img [src]="curso.imagen" alt="Imagen del curso" class="course-image">
      <div class="course-title-container">
        <h2>Lista de Cursos</h2>
        <h3>{{ curso.nombre }}</h3>
        <p>{{ curso.instructor }} - {{ curso.fecha }} - {{ curso.duracion }} semanas</p>
        <p>{{ curso.descripcion }}</p>
        <button (click)="eliminarCurso(i)">Eliminar Curso</button>
      </div>
    </div>
  </div>

<section id="agregar-curso">
    <div class="section-content">
        <div class="form-container">
            <h3>Agregar un Nuevo Curso</h3>
            <form id="form-curso" (submit)="onSubmit($event)">
                <label for="nombre">Nombre del Curso:</label>
                <input type="text" id="nombre" [(ngModel)]="curso.nombre" name="nombre" required>

                <label for="instructor">Instructor:</label>
                <input type="text" id="instructor" [(ngModel)]="curso.instructor" name="instructor" required>

                <label for="fecha">Fecha de Inicio:</label>
                <input type="date" id="fecha" [(ngModel)]="curso.fecha" name="fecha" required>

                <label for="duracion">Duración (en semanas):</label>
                <input type="number" id="duracion" [(ngModel)]="curso.duracion" name="duracion" required>

                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" [(ngModel)]="curso.descripcion" name="descripcion" required></textarea>

                <button type="submit">Agregar Curso</button>
            </form>
        </div>
    </div>
</section>
