/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Títulos */
h2, h3 {
    color: #333;
}

/* Contenedor de la lista de cursos */
#lista-cursos {
    
    
    margin-bottom: 40px; /* Espacio entre secciones */
}



/* Contenedor del título de cursos */
.course-title-container {
    flex-grow: 1; /* Permitir que el título ocupe el espacio restante */
}

/* Estilos de agregar curso */
#agregar-curso {
    background-color: #f9f9f9; /* Fondo claro */
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(34, 136, 191, 0.1); /* Sombra sutil */
    width: 85%; /* Ancho de la sección */
    margin-right: 20px; /* Espacio entre el formulario y la lista de cursos */
    margin-left: 0; 
    }

  #listar-curso {
      background-color: #8fcdd5; /* Fondo claro */
      
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(7, 11, 221, 0.1); /* Sombra sutil */
      width: 85%; /* Ancho de la sección */
      }
      #dato-aleatorio {
        background-color: #9eaee3; /* Fondo claro */
        
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(7, 11, 221, 0.1); /* Sombra sutil */
        width: 85%; /* Ancho de la sección */
        }
.section-content {
  display: flex;
  justify-content: flex-start;
}



/* Contenedor del formulario */
.form-container {
    flex-grow: 2;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0; 
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4c9baf; /* Color de botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4586a0; /* Efecto hover */
}
.course-container {
    display: flex;
    flex-direction: column;
  }
  
  .curso-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  
  
  .curso-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(14, 126, 177, 0.1);
    background-color: #f9f9f9;
    max-width: 600px;
  }
  
  .curso-content {
    display: flex;
    align-items: center;
  }
  
  
  
  .curso-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .curso-info p {
    margin: 5px 0;
  }
  
  button {
    background-color: #2881a7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #214888;
  }
  
